* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Common Class Start */

.container {
    width: 85%;
    margin: 0 auto;
}

/* Common Class End */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.menu-items ul{
    display: flex;
    list-style: none;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
}

.menu-items a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.btn-early-access button{
    padding: 12px 16px;
    background-color: #469165;
    border: 1px solid transparent;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    font-size: 13px;
}

.hero {
    background-image: url(./assets/hero-bg.png);
    padding: 70px 120px 134px 120px;
    margin-bottom: 150px;
}

.hero-content {
    text-align: center;
}

.hero-content * {
    margin-bottom: 20px;
}

.btn-get-early-access-now button {
    padding: 6px 12px;
    border-radius: 1500px;
    text-align: center;
    border: 1px solid transparent;
    color: #469165;
    background-color: #ffffff;
    cursor: pointer;
}

.fa-circle-dot {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.hero-content h1 {
    font-size: 72px;
    line-height: 84px;
    text-transform: capitalize;
    color: #ffffff;
}

.hero-content h1 span {
    color: #30B868;
}

.hero-content p {
    color: #ffffff;
    font-size: 18px;
    line-height: 40px;
}

.left-btn {
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: #469165;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 0;
}

.fa-arrow-right {
    margin: 0;
    padding: 0;
}

.right-btn {
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 0;
}

.fa-play {
    margin: 0;
    padding: 0;
}